{% extends "base.html" %}
{% block content %}

    <h1>i18n demo</h1>

    <p>
      Web app to demonstrate <code>gettext</code> and some
      i18n basics.
    </p>
    <ul class="about">
      <li>
        language: <a href="https://docs.python.org/3/">Python</a>
      </li>
      <li>
        webapp: <a href="https://flask.palletsprojects.com">Flask</a>
      </li>
      <li>
        cats:
        <a href="https://thesecatsdonotexist.com">thesecatsdonotexist.com</a>
      </li>
    </ul>

{% endblock %}
